:root
{
    --color-tester: rgb(255, 247, 134);
    --main-accent-1: 219, 175, 255;
    --main-accent-2: 255, 247, 134;
 
    --button-bg: rgba(var(--main-accent-1), 0.15);
    --button-hover-bg: rgb(var(--main-accent-2));
    --gradient-bg: linear-gradient(
        90deg,
        rgba(var(--main-accent-1), 0.4),
        rgba(var(--main-accent-2), 0.4) 100%
      );
    --success-green: rgb(144, 255, 144);
    --success-green-l: rgba(144, 255, 144, 0.45);
    --wrong-orange: rgb(255, 174, 120);
    --wrong-orange-l: rgba(255, 174, 120, 0.45);
}
.CustomBody
{
    background: var(--gradient-bg);
    opacity: 0.75;
}
.CardHeaderCustom
{
    background-color: var(--button-bg) !important;
}
.NavbarCustom
{
    background: var(--gradient-bg);
}
.ListItemCustom
{
    list-style: none;
}
.HoverButton
{
    text-decoration: none !important;
    color: black !important;
}
.PostButtonCustom
{
    height: 100px;
}
.CustomHr1
{
    border-right: 0.5px solid rgba(0, 0, 0, 0.1);
}
.BorderCustom
{
    border: 1.5px solid rgba(214, 214, 214, 0.5);
    border-radius: 5px;
}
.ButtonCustom
{
    color: black;
    border-radius: 5px;
    background-color: var(--button-bg);
    border: 1.5px solid rgba(214, 214, 214, 0.5);
    -webkit-transition: background 150ms linear !important;
    -ms-transition: background 120ms linear !important;
    transition: background 120ms linear !important;
}
.ButtonCustom:hover
{
    background-color: var(--button-hover-bg);
    border: 1.5px solid var(--button-hover-bg);
}
.ButtonSec1Custom
{
    text-align: start;
    width: 60%;
    font-size: 1.5rem;
    overflow: hidden;
    line-height: 40px;
    max-height: 80px;
    margin-top: 5px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.ButtonSec2Custom
{
    width: 20%;
    overflow: hidden;
}
.ButtonSec3Custom
{
    width: 20%;
    overflow: hidden;
}
.FormCustom
{
    border: 1.5px solid rgba(214, 214, 214, 0.5);
    border-radius: 5px;
    background-color: var(--button-bg);
}
.InputFormCustom
{
    height: 36px;
}
.LiElementCustom
{
    height: 60px;
    border: 1.5px solid rgba(214, 214, 214, 0.5);
    -webkit-transition: background 150ms linear !important;
    -ms-transition: background 120ms linear !important;
    transition: background 120ms linear !important;
}
.CheckButtonCustom
{
    height: 20px;
    width: 20px;
    margin-left: 13px !important;
    border-radius: 25%;
    -webkit-transition: background 150ms linear !important;
    -ms-transition: background 120ms linear !important;
    transition: background 120ms linear !important;
}
.CheckButtonCustom:hover
{
    background-color: var(--success-green) !important;
}
.DeleteButtonCustom:hover
{
    background-color: var(--wrong-orange) !important;
}